* {
    box-sizing: border-box;
    /* border: 2px solid black; */
    margin: 0;
    overflow: hidden;
    padding :0;
}
:root {
    --grey: #5E5E5E;
    --light-grey: #BBBBBB;
    --beige: #FFF0DB;
    --text-color: #FAF7F0;
}
html {
    width: 100%;
    height: 100vh;
}
body {
    width: 100%;
    height: 100%;
    background-color: var(--grey)
}
.main-content {
    width: 100%;
    max-width: 400px;
    margin: 25vh auto 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 30px;
    margin-bottom: 20px;
}
.hero {
    font-size: 2.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    color: var(--text-color);
}
.checker-body {
    padding: 20px 20px;
    background-color: var(--light-grey);
    border-radius: 15px;
    margin-bottom: 20px;
    width: 100%
}

.checker-body-text {
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    
}
.resultShow {
    font-size: 1.5rem;
    margin-bottom: 5px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}
span {
    font-size: 2rem;
    font-weight: bolder;
}

input {
    height: 30px;
    width: 220px;
    border: 0;
    background-color: var(--light-grey);
    border-bottom: 1.5px solid var(--grey);
    text-align: center;

}
button {
    height: 30px;
    width: 80px;
    background-color: var(--beige);
    border-radius: 10px;
    font-weight: bold;
}
.input-section {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px
}

.definition-box {
    background-color: var(--beige);
    border-radius: 15px;
}
h3 {
    padding : 10px;
    text-align: center;
}